.uno{
  background: #E2E2E2;
    height: 100px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.dos{
  background: #FFF0AC;
    height: 100px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.tres{
    height: 400px;
     display: flex;
    justify-content: center;
    align-items: center;
    background: #D1EAFF;
    width: 100%;
    
    
    
}

.cuatro{
  background: #FFF0AC;
    height: 100px;
     display: flex;
    justify-content: center;
    align-items: center;
}